<div class="container-fluid min-vh-100 m-0 p-0 h-100">
	<div class="row no-gutters min-vh-100 h-100">
		<div class="col-xl-3 d-none d-xl-block p-0 backsing"></div>
		<div class="col-xl-6 mx-auto blur-middle-singup">
			<div class="row h-100">
				<div class="col-xl-12 my-auto">
					<div class="nes-container my-auto with-title is-centered is-rounded">
						<p class="title">Singin</h1>
						<%= render 'form' %>
						<p><%= link_to "Not registered yet? Singup!", singup_path, class: "nav-link" %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 d-none d-xl-block p-0 backsing"></div>
	</div>
</div>

