<div class="container-fluid min-vh-100 m-0 p-0 h-100">
	<div class="row no-gutters min-vh-100 h-100">
		<div class="col-xl-3 d-none d-xl-block p-0 blur-middle-about"></div>
		<div class="col-xl-6 mx-auto back-about">
			<div class="nes-container">
				<h2 class="text-center">Weclome to NESBLOG</h2>
				<%= image_tag("me.png",class:'rounded mx-auto d-block') %>
				<div class="nes-container is-dark">
					<p>
						Hi there! Mr.Voyage here. This site was created specifically to get X/20 points from lecturer. No future support will be provided! Features:
						<div class="lists">
							<ul class = "nes-list">
								<li>Created within 3 days</li>
								<li>Registration, login, logout supported</li>
								<li>Full articles control per user (no roles like admin or moder though)</li>
								<li>Comments: ON</li>
								<li>Powered by: Bootstrap'ON and nes.css</li>
							</ul>
						</div>
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-3 d-none d-xl-block p-0 blur-middle-about"></div>
	</div>
</div>

